<h1>Listing users</h1>

<table class="scaffold-table">
  <thead>
    <tr>
      <th>id</th>
      <th>email</th>
      <th>sign_in_count</th>
      <th>name</th>
      <th>is_admin</th>
      <th>is_instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="user-index-row">
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.name %></td>
        <td><%= user.is_admin %></td>
        <td><%= user.is_instructor %></td>
        <td class="scaffold-action"><%= link_to 'Show', user %></td>
        <td>TODO:Edit</td><!-- </td><td class="scaffold-action"> < % = link_to 'Edit', edit_user_path(user) %></td> -->
        <td class="scaffold-action"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% if not user.identities.empty? %>
        <tr><th class="user-index-row" colspan="2">&nbsp;</th><th>provider</th><th colspan="4">uid</th></tr>
        <%= render partial: 'users/identities', :locals => { :user => user, :columns => 7 } %>
      <% end %>
    <% end %>
  </tbody>
</table>



<!--
t.string   "email",               default: "",    null: false
t.string   "encrypted_password",  default: "",    null: false
t.datetime "remember_created_at"
t.integer  "sign_in_count",       default: 0,     null: false
t.datetime "current_sign_in_at"
t.datetime "last_sign_in_at"
t.inet     "current_sign_in_ip"
t.inet     "last_sign_in_ip"
t.datetime "created_at",                          null: false
t.datetime "updated_at",                          null: false
t.string   "name"
t.boolean  "is_admin",            default: false, null: false
t.boolean  "is_instructor",       default: false, null: false
-->