<!DOCTYPE html>
<html>
<head>
  <title>OauthCancanDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav id="navigation-bar">
      <table style="width:100%;">
      <tr>
        <td style="text-align:left; width:60%"><a href="/">Home</a></td>
        <% if current_user %>
            <td style="text-align:left; width:30%"><%= current_user.name %></td>
            <td><%= link_to "Profile", current_user %></td>
            <td style="text-align:right;"><%= button_to('Logout', destroy_user_session_path, :method => :delete) %></td>
        <% else %>
            <td style="text-align:right;"><%= button_to "Login", "/"  %></td>
        <% end %>
      </tr>
      </table>
	</nav>
   <div id="flash-messages-div">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   </div>
<%= yield %>

</body>
</html>
