<!DOCTYPE html>
<html>
<head>
  <title>OauthCancanDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav id="navigation-bar" class="navbar navbar-inverse">

      <div class="container">

        <div class="navbar-header">
          <%= link_to 'Home', root_path, class: 'navbar-brand' %>
        </div>

        <div class="navbar-left">
          <ul class="nav navbar-nav">
            <% if can? :create, Exercise %>
                <li><%= link_to 'Add Exercise', new_exercise_path %></li>
            <% end %>
            <% if can? :index, Exercise %>
                <li><%= link_to 'List Exercises', exercises_path %></li>
            <% end %>
          </ul>
        </div>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <% if current_user %>
                <li><%= current_user.name %></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= button_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
                <td style="text-align:right;"><%= button_to("Login", new_user_session_path, :method => :get) %></td>
            <% end %>
          </ul>
        </div>

      </div>
	</nav>


    <div class="container">
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
      <% end %>
      <%= yield %>
    </div>



</body>
</html>
